
:root {
    --white: #ffffff;
    --dark-blue: #002B49;
    --mid-blue: #003057;
    --light-blue: #95D4E9;
    --dark-grey:#212529;
    --mid-grey: #DEE2E6;
    --light-grey: #F8F9FA;
    --yellow: #FFD100;
    --sky-blue: #0082CA;
    --dark-teal:#003050;
    --red: #A12B2F;
}