.container-fluid {
  max-width: 1360px !important;
}
.container-xl,
.container {
  max-width: 1172px;
}
a {
  font-weight: 500;
}
.pb-32 {
  padding-bottom: 32px;
}
.py-32 {
  padding-bottom: 32px;
  padding-top: 32px;
}
.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.mt-32 {
  margin-top: 32px;
}
.mb-32 {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .mx-md-50 {
    max-width: 50%;
  }
}

/* Image - Text section CSS */

.sc-img-text-wrap-v1 .sc-content-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sc-img-text-wrap-v1 .sc-content-wrap .btn {
  width: max-content;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  gap: 16px;
  letter-spacing: 0.3px;
}
.sc-img-text-wrap-v1 .sc-content-wrap img {
  width: 11px;
}
@media (max-width: 768px) {
  .sc-img-text-wrap-v1 .sc-content-wrap {
    padding: 24px;
  }
}
/* Image - Text section CSS End*/

/* Event section css */
.sc-event-heading-wrap {
  padding: 24px;
  color: var(--white);
}
.sc-event-list-wrap {
  background: #95d4e980;
  padding: 24px;
  display: flex;
  gap: 32px;
  align-items: center;
  border-bottom: 1px solid var(--sky-blue);
}
.sc-event-wrapper:last-child .sc-event-list-wrap {
  border-bottom: none;
}
.sc-event-list-wrap .sc-event-date-wrap {
  background: var(--dark-teal);
  min-width: 100px;
  min-height: 122px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc-event-list-wrap .sc-event-date-wrap p {
  font-size: 14px;
  color: var(--yellow);
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.3;
}
.sc-event-list-wrap .sc-event-date-wrap .sc-event-date {
  font-size: 48px;
  color: var(--white);
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 4px;
}
.sc-event-list-wrap .sc-event-summary {
  color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--sky-blue);
  padding-bottom: 20px;
  padding-top: 24px;
}
.sc-event-list-wrap .sc-event-summary:first-child:last-child {
  padding-top: 0px;
}
.sc-event-list-wrap .sc-event-summary:last-child {
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 24px;
}
.sc-event-list-wrap .sc-event-summary .sc-event-time {
  background: var(--dark-blue);
  color: var(--white);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.1;
  padding: 8px;
  letter-spacing: 2px;
  margin-bottom: 16px;
  width: max-content;
}
/* Event section css End */

/* Home Card Css */

.sc-home-card-wrap .card{
 background-color:var(--light-grey);
 border:none;
 border-radius:0px;
}
.sc-home-card-wrap .card .card-body{
  color:var(--dark-blue);
}

/* Sidebar secondary Css */

.side-bar .nav {
  border-right: 1px solid var(--mid-grey);
  padding-right: 16px;
  padding-top: 54px;
}
.side-bar ul li {
  padding: 8px 0px;
  border-bottom: 1px solid var(--mid-grey);
}
.side-bar ul li:last-child {
  border-bottom: 0px;
}
.side-bar .sc-accordion {
  //border: 1px solid var(--mid-grey);
}
.side-bar .accordion-header {
  padding: 16px;
  border: 1px solid var(--mid-grey);
}
@media (max-width: 768px) {
  .side-bar .nav {
    border-right: none;
    padding: 0;
  }
  #sc-menu-list {
    max-height: 419px;
    overflow-y: auto;
    padding: 8px 24px 24px 24px;
    box-shadow: 0px 10px 24px 0px #002b494d;
  }
  
  .accordion-header .btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .accordion-header .btn:after {
    content: "";
    background: url("../assets/images/chevron-down.svg") no-repeat center right;
    width: 16px;
    height: 16px;
    background-size: 16px;
  }
  #sc-menu-list::-webkit-scrollbar {
    width: 5px;
  }

  #sc-menu-list::-webkit-scrollbar-track {
    background: var(--light-blue);
    margin-top: 24px;
    margin-right: 16px !important;
    margin-bottom: 24px !important;
    border-radius: 8px;
    border: none;
    
  }

  #sc-menu-list::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 8px;
    border: none;
  }
}
