.eemStyleSFBody {
    margin: 0;
    padding: 0;
}

.eemStyleSFForm {
    line-height: 1.3;
    width: 100%;
}

.eemStyleSFMainOuter {
    color: #000000;
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
}

.eemStyleSFTitleOuter {
    border-bottom-color: #000000;
    text-align: center;
    font-weight: normal;
    padding: 25px 10px;
    background-color: #ffffff;
    font-size: 24px;
    font-family: Verdana;
    color: #000000;
}

.eemStyleSFTitle {
    color: #000000;
}

.eemStyleSFLogoDisplay {
    display: block;
}

.eemStyleSFLogoOuter {
    padding: 15px 0;
    border-bottom: 1px dashed #333;
    text-align: center;
    margin: 0 30px;
}

.eemCompanyNameAddress {
    padding-top: 10px;
}

.eemStyleSFCompletion {
    padding: 10px 0;
    font-family: Verdana;
    margin: 0 30px;
    display: none;
    font-size: 12px;
}

.eemStyleSFCompletionIcon {
    display: none;
}

.eemStyleSFAjaxWaitIcon {
    display: none;
}

.eemStyleSFSectionContent {
    margin: 0 30px;
}

.eemStyleSFSectionHeading {
    font-weight: 600;
    margin-bottom: 15px;
}

.eemRadioInput {
    padding: 0;
    height: 13px;
    width: 13px;
    vertical-align: bottom;
    vertical-align: middle;
    margin: 0;
}

.eemStyleSFReq {
    color: #ff0000;
    font-size: 11px;
}

.eemStyleSFError {
    color: #ff0000;
    display: none;
    font-size: 11px;
}

.eemStyleSFErrorIcon {
    display: none;
}

.eemStyleSFEmail {
    margin: 15px 0;
}

.eemStyleSFEmail label {
    display: block;
    margin-bottom: 3px;
}

.eemStyleSFEmailPrefs {
    margin-bottom: 15px;
}

.eemStyleSFEmailPrefs .eemStyleSFText {
    padding-bottom: 3px;
}

.eemStyleSFInterestGroup {
    margin-bottom: 15px;
}

.eemStyleSFFormInput {
    margin-bottom: 15px;
}

.eemStyleSFButton {
    margin-bottom: 5px;
}

.eemStyleSFFormInput a {
    font-size: 11px;
}

.eemStyleSFTextFields {
    margin-bottom: 15px;
}

.eemStyleSFTextFields label {
    display: block;
    margin-bottom: 3px;
}

.eemStyleSFFormError {
    margin: 0 15px;
}

.SFmulti-checkbox {
    margin-bottom: 5px;
}

.SFmulti-checkbox label {
    display: inline-block;
}

.SFgrp-description {
    margin-left: 18px;
}

.eemStyleSFFooterOuter {
    height: 25px;
    background-color: #ffffff;
}

.eemStyleSFHintText {
    color: #999999;
}

input:invalid {
    box-shadow: none;
}
